body {
  margin: 0;
  text-align: center;
  color: #40514e;
}
h1 {
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #ECB390;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin: 10px auto;
  color: #ECB390;
  font-weight: normal;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FF6663;
}
p {
  font-family: 'Merriweather', serif;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #ECB390;
  border-width: 6px;
  width: 5%;
}
a {
  color: #ECB390;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.topContainer {
  background-color: #FF6363;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin-top: 100px auto;
}
.bottom-container {
  background-color: #FF6363;
  padding: 50px 0px 20px;
}

.pro {
  font-style: oblique;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain {
  position: relative;

}
.skill-row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: left;

}
.intro {
  width: 700px;
  margin: auto;
  line-height: 2;
}
.skills {
  margin-top: 30px;
  margin-bottom: 30px;
}
.photo-profile {
  margin-top: 5px;
  width: 15%;
}
.computer {
  width: 20%;
  margin-right: 30px;
  float: left;
}
.coding {
  width: 20%;
  margin-left: 30px;
  float: right;
}
.description-skill-devweb {
  text-align: left;
  line-height: 2;
}
.description-skill-cv {
  text-align: left;
  line-height: 2;
}
.profile {
  margin-top: 100px;
  margin-bottom: 30px;
}
.contact-me {
  margin-top: 30px;
  margin-bottom: 50px;
}
.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #f55656;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #bf2c2c;
  background-image: -webkit-linear-gradient(top, #bf2c2c, #c71e1e);
  background-image: -moz-linear-gradient(top, #bf2c2c, #c71e1e);
  background-image: -ms-linear-gradient(top, #bf2c2c, #c71e1e);
  background-image: -o-linear-gradient(top, #bf2c2c, #c71e1e);
  background-image: linear-gradient(to bottom, #bf2c2c, #c71e1e);
  text-decoration: none;
}
